.root {
	display: flex;
	padding: 8px 16px 8px 0;
}

.root:first-of-type {
	padding-top: 72px;
}

.pageNumber {
	font-size: 24px;
	margin-right: 16px;
	text-align: right;
	min-width: 48px;
}

.post {
	display: block;
	width: 100%;
}

.title a {
	display: block;
	margin-bottom: 8px;
	text-decoration: none;
	color: #000;
}

.details {
	color: #666;
	font-size: 12px;
	height: 15px;
}

.link {
	text-decoration: underline;
	cursor: pointer;
	color: #666;
}

.comments {
	padding-left: 8px;
	border-left: 1px solid #ccc;
}

.titleShell {
	background: #f6f7f9;
	width: 100%;
	max-width: 650px;
	height: 21px;
	margin-bottom: 6px;
	margin-right: 16px;
}

.subtitleShell {
	background: #f6f7f9;
	width: 60%;
	max-width: 350px;
	height: 15px;
	padding-bottom: 2px;
	margin-right: 16px;
}
