.root {
	display: flex;
	padding: 8px 16px 8px 0;
	border-bottom: 1px solid rgba(0,0,0,0.07);
	height: 80px;
}

.root:first-of-type {
	padding-top: 72px;
}

.pageNumber {
	font-size: 24px;
	margin-right: 16px;
	margin-top: 26px;
	text-align: right;
	min-width: 48px;
}

.post {
	width: 300px;
}

@media (min-width: 800px) {
	.post {
		width: 725px;
	}
}

.title a {
	display: block;
	text-decoration: none;
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.details {
	color: #666;
	font-size: 15px;
	height: 15px;
	margin-top: 14px;
}

.link {
	text-decoration: underline;
	cursor: pointer;
	color: #666;
}

.comments {
	margin-top: 10px;
}

@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}

.animated {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background-size: 800px 104px;
	height: 96px;
	position: relative;
}

.animatedTitle {
	background: #ddd;
	background: linear-gradient(to right, #ddd 8%, #ccc 18%, #ddd 33%);
}

.animatedSubTitle {
	animation-delay: 0.2s;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
}

.animatedComment {
	animation-delay: 0.4s;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
}

.titleShell {
	max-width: 650px;
	border-radius: 4px;
	height: 21px;
	margin-bottom: 14px;
	transition: opacity 0.5s;
	opacity: 1;
}

.subtitleShell {
	width: 60%;
	border-radius: 4px;
	max-width: 350px;
	height: 15px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

.commentShell {
	width: 40%;
	border-radius: 4px;
	max-width: 250px;
	height: 15px;
	padding-bottom: 2px;
}
