.pageLink {
	color: #000;
	cursor: pointer;
	text-decoration: underline;
}

.pagination {
	position: fixed;
	width: 100%;
	left: 0;
	background: #fff;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pageNumber {
	margin: 0 16px;
}

.bottom {
	height: 100px;
	background: #f1f1f1
}
